<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %> | erepo</title>

  <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/fonts/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">

  <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/static/stylesheets/landing-page.css">
  <link rel="stylesheet" href="/static/stylesheets/util.css">
  <link rel="stylesheet" href="/static/stylesheets/main.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>
<body>
  <nav></nav>